Source: hamonikr-keyring
Section: misc
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Standards-Version: 3.7.3

Package: hamonikr-keyring
Priority: important
Architecture: all
Depends: gnupg (>= 1.0.6-4)
Description: GnuPG key of the HamoniKR repository
 The HamoniKR repository digitally signs its Release files. This package
 contains the repository keys used for that.
